<tr>
  <td colspan="2" valign="middle" id="social">
    <div id="social-links">
      &nbsp;                  
      {{#if twitter_url}}<a href="{{twitter_url}}">follow on Twitter</a>{{/if}}{{#if facebook_url}}<a href="{{facebook_url}}">friend on Facebook</a>{{/if}}
    </div>
  </td>
</tr>
{{#if copyright}}
<tr>
  <td valign="top" width="350">
    <div id="footer-copyright">
      <em>Copyright &copy; {{copyright.year}} {{copyright.company}}, All rights reserved.</em>
      <br />
    </div>
  </td>
  <td valign="top" width="190">
    <div id="footer-links">
      {{links}}
    </div>
  </td>
</tr>
{{/if}}
{{#if unsubscribe_url}}
<tr>
  <td colspan="2" valign="middle" id="utility">
    <div id="unsubscribe">
      &nbsp;<a href="{{unsubscribe_url}}">Unsubscribe from this list</a>
    </div>
  </td>
</tr>
{{/if}}
